html {
  font-size: 0.417vw;
  overflow: hidden;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

* {
  box-sizing: border-box;
  font-family: 'Poppins', 'Roboto', sans-serif;
}

/* A */
a,
a:visited {
  text-decoration: none;
}

/* Inputs */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.hidden {
  visibility: hidden;
}

.removed {
  display: none;
}

/* Resizing for portrait view tablets */
@media screen and (orientation: portrait) {
  html {
    font-size: 0.5vw;
  }
}

.smv-selectors-scroll-container {
  background-color: #ffffff66;
  border-radius: 10px;
  margin-top: -135px;
  max-width: 100px;
}

.smv-bullets {
  z-index: 1000;
}
